:root {
  --FontSize: 18px;
}
#Light {
  background-image: linear-gradient(to bottom, #fff, #92c7cf);
  min-height: 100vh;
}
#Dark {
  /*  background-color: #000;*/
  background-image: linear-gradient(to bottom, #331d2c, #3f2e3e);
  min-height: 100vh;
  color: #fff;
}
header#Header {
  padding: 10px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
header#Header ul.links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 5px;
}
header#Header ul.links li {
  margin: 0 5px;
}
header#Header ul.links li a {
  color: #fff;
}
header#Header button {
  min-width: 50px;
}
#ShowArea {
  width: 100%;
}
#ShowArea .Books {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
#ShowArea .Books .Book {
  width: 250px;
  background-color: #eee;
  padding: 20px;
  margin: 5px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
#Dark #ShowArea .Books .Book {
  background-color: #5caeff !important;
  color: #fff;
}
#ShowArea .Books .Book h4 {
  font-weight: 700;
  font-size: 18px;
  text-align: start;
  width: 100%;
  padding: 10px;
  margin: 0;
}
#ShowArea .Books .Book span {
  width: 50px;
  height: 50px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 900;
}
.SearchBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100px;
}
.SearchBar input {
  width: 300px;
  margin: auto;
}
@media (max-width: 540px) {
  #ShowArea .Books .Book h4 {
    text-align: center;
    font-size: 21px;
  }
  #ShowArea .Books .Book {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    justify-content: center;
    flex-direction: column;
  }
  #ShowArea .Books .Book span {
    margin-top: 20px;
  }
  .SearchBar input {
    width: 100%;
  }
}

#Book {
  padding: 10px;
}
#Book .HeaderBook {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  flex-direction: column;
}
#Book .HeaderBook h1 {
  text-align: center;
  font-weight: 700;
}
#Book .HeaderBook button {
  margin-top: 10px;
}

#Book .Chapters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
#Book .Chapters .Chapter {
  width: 50px;
  height: 50px;
  background-color: #eee;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  border-radius: 5px;
}
#Dark #Book .Chapters .Chapter {
  background-color: #5caeff !important;
}
/* Chapter */
#Chapter {
  padding: 10px;
}
#Chapter .HeaderChapter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  flex-direction: column;
}
#Chapter .HeaderChapter h1 {
  text-align: center;
  font-weight: 700;
}
#Chapter .HeaderChapter button {
  margin-top: 10px;
}
#Chapter .Verses {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  direction: ltr;
  flex-direction: column;
  counter-reset: counter2;
  text-align: right;
}
#Chapter .Verses .Verse {
  width: fit-content;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
  font-size: var(--FontSize);
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row-reverse;
  direction: rtl;
}
#Dark #Chapter .Verses .Verse {
  background-color: #424769;
}
#Chapter .Verses .Verse.Active {
  background-color: #07a4ff !important;
  color: #fff;
}
#Chapter .Verses .Verse span {
  font-size: var(--FontSize);
  margin: 0 5px;
  color: #dde6ed;
  font-weight: 900;
}
#PageNotFound {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Developers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.App {
  padding-top: 20px;
  padding-bottom: 100px;
}

#Settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 90px);
}

#Settings hr {
  width: 95%;
}

#Settings p {
  font-size: var(--FontSize);
}
